* {
  margin: 0;
  padding: 0;
}

.about-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 70vw;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.about-div p{
    text-align: center;
    word-spacing: 2px;
    line-height: 1.4rem;
}


@media screen and (max-width:600px){
  .about-div{
    width: 85vw;
    margin-top: 1rem;
    gap: 2rem;
  }
  
}