* {
  margin: 0;
  padding: 0;
}

.orders-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.order-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  height: 75vh;
  gap: 0.8rem;
}

@media screen and (max-width: 600px) {
  .order-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
    align-items: center;
    gap: 0.2rem;;
   
  }
  .buy-info-div>:nth-child(2){
    display: none;
  }
  
}
